<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="header">
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="./about.html">Football</a></li>
                <li><a href="./registration.html">Registration</a></li>
                <li><a href="./my poject.html">My Projects</a></li>
            </ul>
        </nav>
    </div>
    <p> 
The FIFA World Cup has taken place every four years since 1930 with the exception of 1942 and 1946 tournaments, which were cancelled due to World War II.
 Approximately 190–200 national teams compete in qualifying tournaments within the scope of continental confederations for a place in the finals. 
 The finals tournament, which is held every four years, involves 32 national teams competing over a four-week period. 
 It is the most prestigious football tournament in the world as well as the most widely viewed and followed sporting event in the world, exceeding the Olympic Games.
The most prestigious competition in club football is the UEFA Champions League which attracts an extensive television audience throughout the world. 
The final of the tournament has been, in recent years, the most-watched annual sporting event in the world. 
The top five European leagues are the Premier League (England), La Liga (Spain), Bundesliga (Germany), Serie A (Italy), and Ligue 1 (France).
 Attracting most of the world's best players, each of the leagues has a total wage cost in excess of £600 million/€763 million/US$1.185 billion.[7]
Football is one of a family of football codes, which emerged from various ball games played worldwide since antiquity. 
The modern game traces its origins to 1863 when the Laws of the Game were originally codified in England by The Football Association.
The most famous foatballers are Lional Messi,Cristano Ronaldo,Ibramovic,Robert Lwendoski and Mbappe
</p>
    <img src="../fooo.jpg"alt="">
</body>
</html>